* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: salmon;
  font-family: Monaco, consolas, monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: black;
  font-size: 6rem;
  font-weight: lighter;
  letter-spacing: 0.25rem;
  white-space: pre;
  border-right: 5px solid black;
  animation: blinking 800ms infinite;
}

@keyframes blinking {
  0% {
    border-color: black;
  }

  50% {
    border-color: transparent;
  }
}
